/* Navbars.css */

/* Customize navbar background and text color */
.navbar {
  background-color: transparent;
  /* Fallback color */
  background-size: cover;
  /* Adjust to your preference */
  background-repeat: no-repeat;
  /* Ensure the image isn't repeated */
}


.navbar-brand,
.navbar-text,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  /* Adjust the padding as needed */
}

.navbar-dark .navbar-nav .nav-item {
  margin-right: 10px;
  /* Adjust the spacing between navbar items */
  display: flex;
  /* Make the items flex containers */
  align-items: center;
  /* Center the items vertically */
}

.navbar-dark .navbar-nav {
  flex-direction: row;
  /* Set the direction to row for horizontal layout */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: skyblue;
  /* Define the color for the hover effect */
}